.mercury{
    background-color:gold ;
}
.venus{
    background-color: teal;
}
.earth{
    background-color: brown;
}
.mars{
    background-color: aquamarine;
}
.jupiter{
    background-color: blueviolet;
}
.saturn{
    background-color: peru;
}
.uranus{
    background-color: darkgreen;
} 
.neptune{
    background-color: hotpink;
}