<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<body>
    
    <h2> Todos </h2>

    {%for todo in todos_not_done%}
            <br>
                {{todo}}

                <form method="post" action="{%url 'complete_todo' todo.id%}">
                    {%csrf_token%}
                    <button type="submit"> Complete </button>
                </form>
            <br>
    {%endfor%}
    
    <h2> Completed </h2>

    {%for todo in todos_done%}
        <br>
            {{todo}} 
        <br>  
    {%endfor%}
    

</body>
</html>